{
    "presets": [
      ["@babel/env", {
        "targets": {
          "node": "current"
        }
      }]
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread"
    ],
    "scripts":{
        "build": "webpack --config=Scripts/config/webpack.prod.js"
    }
  }